/* 
* This is the base CSS-file for the exercise application.
* It defines to body background and styling for other
* common elements
*/
html {
    height: 98%;
}

body {
    color: #ffffff;
    background-color: #131D24;
    background-image: repeating-linear-gradient(
        45deg, 
        #080b0d,
        #080b0d 20px,
        #0a0f13 20px,
        #0a0f13 40px);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Liberation sans', 'Helvetica', 'Verdana', sans-serif;
    height: 100%;
}

.companyInfo {
    height: 10%;
}

.copyrightInfo {
    height: 5%;
    float: bottom;
}

input[type=text] {
    color: #ffffff;
    background-color: #131D24;
    height: 2em;
    width: 12em;
    font-size: 1.25em;
    font-family: 'Ubuntu', sans-serif;
}

.inputPanel {
    width: 100%;
    margin-bottom: 1.25%;
}

.content {
    width: 80%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5%;
}

.inputLabel {
    font-size: 1.25em;
    margin-bottom: 0.5%;
    text-align: justify;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.reasonTextarea {
    width: 28em;
    height: 12em;
    background-color: #131D24;
    color: #ffffff;
    font-size: 1.25em;
    font-family: 'Liberation sans', 'Helvetica', 'Verdana', sans-serif;
}

#wrapper {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

#title {
    width: 98%;
    margin-bottom: 1.5em;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}

.center_content {
    width: 98%;
}

.ok {
    color: green;
}

.fail {
    color: #ffffff;
}

.errors {
    color: #ff4754; 
    margin-left: 5px;
}
