/*
This CSS-file represents a style file, that could be customized for a client,
which wants to use the recruiting page -service.

For this exercise, it contains only basic stuff. The idea is that the 
style file could be customized to different clients.

This file customizes the logo-header.
*/

.companyLogo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.companyText {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

