# Ignore Netbeans specific files
nbproject/private
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Binary class files are not needed
*.class

# Package files are not needed
*.jar
*.war
